@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@font-face {
  font-family: Against;
  src: url(against_regular.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span {
    font-family: 'DM Serif Display';
    font-weight: 500;
}

#loading-screen {
    position: fixed; /* Or 'absolute', if 'fixed' doesn't work well in your context */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it sits on top of other content */
    font-size: 30px; /* Adjust as needed */
    font-family: Against;
}

.logo {
    width: 200px; /* Adjust the size of the logo as needed */
    height: auto;
    margin-left: -55px;
    margin-bottom: 20px;
}

section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-self: flex-start;
}

.container { 
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    background-color: black;
}

.bg::after {
    content: '';
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.589);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,rgb(0, 0, 0) 100%);
}

.container a {
    text-decoration: none;
    color: whitesmoke;
}

.container h1 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    font-size: 20px;
    letter-spacing: 5px;
    color: whitesmoke;
    text-transform: uppercase;
    position: relative;
}

.container h1 span {
    margin-right: 50px;
    display: inline-block;
}

.bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none; /* Ensure images are not displayed initially */
    opacity: 0; /* Start with 0 opacity */
    transform: scale(1); /* Start with no scale */
    transition: opacity 1s ease, transform 1s ease; /* Transition for smooth effect */
}


footer {
    background-color: black;
    color: white;
    font-family: 'DM Serif Display';
}


@keyframes anima {
    0% {
        opacity: .6;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1.1);
    }
}

/* Fade out animation */
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

/* Apply the animation to the loading screen */
#loading-screen.fade-out {
    animation: fadeOut 2s ease forwards; /* 'forwards' keeps the element in the final state of the animation */
}

