@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Song+Myung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300&display=swap');

body {
    background-color: #8D9D83;
    margin: 0;
    padding: 0;
    font-family: "Spectral" ,"Song Myung", Garamond;
}

#content {
  max-width: 1600; 
  margin: 0 auto;
}

nav {
    display: flex;
    justify-content: center;
}

.nav_link {
    padding: 20px;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
}

main {
    background-color: #8D9D83;
    padding: 10px;
}

a {
    padding: 10px;
    color: black;
    font-size: 1em;
}

a {
    color: black;
}

nav a:hover {
    color: darkgreen;
    background-color: rgb(191, 201, 174);
}

#main_title {
    font-size:3em;
    text-align: center; 
}

img {
    width: 20%;
    display: block;
    margin: 0 auto;
}

p {
    width: 60%;
    margin: 50px auto;
    font-size: 1.2em;
    line-height: 1.5em;
}

#bio{
    padding: 35px;
    background-color: rgb(191, 201, 174);
    border: 2px solid darkgreen;
    color: black;
    border-radius: 15px;
}

footer {
    text-align: center;
}